/* styles.css */
* {
    overflow: hidden;
    background-color: black;
}

.wrapper {
    display: flex;
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* Removed initial animation */
}

@keyframes bounce {
    to {
        translate: 0 20px;
    }
}

@keyframes spin {
    to {
        rotate: -1turn;
    }
}

.pedro {
    border-radius: 50%;
    /* Removed initial animation */
    scale: 0.4;
    visibility: hidden; /* Initially invisible */
}

.animate .pedro {
    animation: bounce 200ms linear infinite alternate, spin 10s linear infinite;
    visibility: visible; /* Become visible */
}

/* inspired from gumroad website */
.play-button {
    --bg: #ffffff;
    --hover-bg: #000000;
    --hover-text: #ffffff;
    color: #000000;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    position: fixed; /* Change to fixed to position relative to the viewport */
    top: 50%; /* Position at the vertical center */
    left: 50%; /* Position at the horizontal center */
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
}

.play-button:hover {
    color: var(--hover-text);
    transform: translate(-50%, -50%) translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.play-button:active {
    transform: translate(-50%, -50%) translate(0);
    box-shadow: none;
}
